body {
    background: url('/static/img/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    font-family: 'Montserrat', sans-serif;
}

.card-form {
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
}